{% extends 'base.html' %}


{% block content %}

<section id="slider">{% load staticfiles %}
	<div class="tp-banner-container">
          <div class="tp-banner" >
            <ul>
              <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/contatti-foto-1.jpg' %}" alt="gallery 1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              </li>
              <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/contatti-foto-2.jpg' %}" alt="gallery 1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              </li>
            </ul>

          </div>
      </div>
              <script type="text/javascript">
              var revapi;
              jQuery(document).ready(function() {
                   revapi = jQuery('.tp-banner').revolution(
                  {
                    delay:4000,
                    startwidth:1170,
                    startheight:500,
                    hideThumbs:10,
                    fullWidth:"on",
                    forceFullWidth:"off"
                  });
              }); //ready
            </script>
</section>

<div id="contatti" class="container">
	<div class="col-xs-12">
		<h2 class="text-center">
			{% if session_language = 'eng' %}
            	Contacts 
            {% elif session_language = 'fra' %}
                Contacts 
            {% elif session_language = 'esp' %}
            	Contactos
            {% else %}
           		Contatti
            {% endif %}
		</h2>
	</div>
	<div class="col-xs-12 col-sm-8">



						<form id="contactForm" class="white-row" action="/contact/" method="post">{% csrf_token %}
							<div class="row">
								<div class="form-group">
									<div class="col-sm-6 col-md-6">
										<label>Nome:</label>
										<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="nome" id="contact_name" required>
									</div>
									
									<div class="col-sm-6 col-md-6">
										<label>E-mail *</label>
										<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="contact_email" required>
									</div>
			
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Oggetto:</label>
										<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="oggetto" id="contact_subject">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-12">
										<label>Messaggio *</label>
										<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="messaggio" id="contact_message"></textarea>
									</div>
								</div>
								<div class="">
									<input type="checkbox" style="margin-left:15px"> &nbsp;&nbsp;Autorizzo il trattamento dei dati personali nel rispetto delle leggi sulla privacy L. 675/96
								</div>
							</div>

							<br>

							<div class="row">
								<div class="col-md-12">
									<input id="contact_submit" type="submit" value="INVIA" class="btn btn-primary btn-md" data-loading-text="Loading...">
								</div>
							</div>
						</form>


	</div>


	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h4>
					{% if session_language = 'eng' %}
                        Contacts
                    {% elif session_language = 'fra' %}
                        Contacts
                    {% elif session_language = 'esp' %}
                        Contactos
                    {% else %}
                        Contatti
                    {% endif %}
				</h4>
				
				<p>
					{% if session_language = 'eng' %}
                        For any information fills out here the form to side, or send me a direct email.
 
                    {% elif session_language = 'fra' %}
                        Pour n'importe quel renseignement remplit ici le formulaire au côté, ou envoie-moi une email direct. 

                    {% elif session_language = 'esp' %}
                        Por cualquiera información rellena aquí el impreso a lado, o bien me mandas un email directo.

                    {% else %}
                        Per qualsiasi informazione compila il modulo qui a lato, oppure inviami una email diretta. 
                    {% endif %}
                    <br>
                    <br>
                    <br>
				</p>

				<p>
					<a href="mailto:info@sabriartbijoux.it">
						<i class="fa fa-envelope" aria-hidden="true"></i> info@sabriartbijoux.it<br>
					</a>
						<i class="fa fa-phone-square" aria-hidden="true"></i> +39 347.4344112
						<br>
						<br>
				</p>

				<p>
					{% if session_language = 'eng' %}
                        <span style="font-size: 16px; font-weight:800;">Where you find me</span><br>
                        Milan, ITALY
                    {% elif session_language = 'fra' %}
                        <span style="font-size: 16px; font-weight:800;">Où tu me trouves</span><br>
                        Milan, ITALIE
                    {% elif session_language = 'esp' %}
                        <span style="font-size: 16px; font-weight:800;">Dónde me encuentras</span><vr>
                        Milán, ITALIA
                    {% else %}
                        <span style="font-size: 16px; font-weight:800;">Dove mi trovi</span><br>
                        Milano, ITALIA
                    {% endif %}
                    <br>
                    <br>
				</p>

				<p>
					<a href="https://www.facebook.com/sabriart.bijoux" target="_Blank">
						<i class="fa fa-facebook-square fa-2x" aria-hidden="true">&nbsp;&nbsp;</i>
					</a>
					<a href="https://it.pinterest.com/sabriartbijoux/" target="_Blank">
						<i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
					</a>
				</p>


	</div>

	
</div>


{% endblock %}