	<section id="quadrati">
		<div class="container">
			<div class="row">
			
				{% for box in box_list %}
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="col-xs-12 quadro">
						<i class="{{box.icona}}"></i>
						<h3>
							{% if session_language = 'eng' %}
								{{box.titolo_uk}}
							{% elif session_language = 'fra' %}
								{{box.titolo_fra}}
							{% elif session_language = 'esp' %}
								{{box.titolo_esp}}
							{% else %}
								{{box.titolo}}
							{% endif %}
						</h3>
						<hr>
						<p>
							{% if session_language = 'eng' %}
								{{box.descrizione_uk|safe|truncatechars:140}}
							{% elif session_language = 'fra' %}
								{{box.descrizione_fra|safe|truncatechars:140}}
							{% elif session_language = 'esp' %}
								{{box.descrizione_esp|safe|truncatechars:140}}
							{% else %}
								{{box.descrizione|safe|truncatechars:140}}
							{% endif %}
						</p>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>